MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=qa-trackerdb
AUTH_SECRET=change-me
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUE=

ADMIN_NAME=Amit
ADMIN_EMAIL=amit.owninfotech@gmail.com
ADMIN_PASSWORD=Staff@123

TESTER_NAME=Tester
TESTER_EMAIL=tester.owninfotech@gmail.com
TESTER_PASSWORD=Staff@123

FIXER_NAME=Fixer
FIXER_EMAIL=fixer.owninfotech@gmail.com
FIXER_PASSWORD=Staff@123
